body {
  font-family: sans-serif;
  width: 100;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh; }

header {
  background-image: url(../img/img01.jpg);
  height: 100vh;
  box-sizing: border-box; }
  header .navegador {
    display: flex; }
  header .container-fluid .navbar-brand {
    color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px; }
  header .navbar-toggler-icon {
    background-color: #fafafa;
    border: solid 4px;
    font-size: 20px; }
  header .nav-link {
    color: white; }
  header .titulo {
    flex-direction: column;
    text-align: center; }
    header .titulo h1 {
      color: #fdfdfd;
      padding: 50px;
      margin: 30px;
      font-size: 50px;
      font-weight: 300;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  header .icono {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; }

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }
  main ul li {
    line-height: 45px;
    list-style-type: none;
    display: inline;
    text-align: center; }
  main .red {
    padding: 4px;
    color: black;
    text-align: center;
    margin: 20px; }
  main .text {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center; }
  main p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    justify-content: center; }
  main .servicio {
    background-image: url(../img/guitarra.jpg);
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    padding: 20px; }
  main h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 300;
    padding: 20px;
    color: aliceblue; }
  main .lista {
    display: block;
    padding: 20px;
    margin: 10px; }
    main .lista p {
      color: aliceblue;
      text-align: center; }
    main .lista h3 {
      color: aliceblue;
      font-size: 30px; }
    main .lista .bi {
      color: aliceblue;
      padding: 5px; }
  main .contacto {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  main .contacto h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 200; }
  main .texto {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  main .formulario {
    display: flex;
    flex-direction: column;
    padding: 10px; }
  main .form {
    padding: 5px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200; }
    main .form .btn {
      margin: 10px;
      font-size: 25px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 200; }
    main .form .footer {
      display: flex;
      position: absolute; }
