body {
  font-family: sans-serif;
  width: 100;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh; }

.navegador {
  background-color: black; }
  .navegador .container-fluid .navbar-brand {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px; }
  .navegador .navbar-toggler-icon {
    background-color: white; }
  .navegador .nav-link {
    color: white;
    font-size: 20px; }

header {
  background-image: url(../img/c.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  header .titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY -500px;
    animation-name: entrada;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
    header .titulo h1 {
      color: #fdfdfd;
      padding: 50px;
      margin: 30px;
      font-size: 50px;
      font-weight: 300;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
    header .titulo .lucas {
      color: aliceblue;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 100; }
  header .caja {
    background-image: url(../img/img6.jpg);
    background-position: center;
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    flex-direction: column;
    text-align: center; }
  header .be {
    color: #fdfdfd;
    padding: 50px;
    margin: 30px;
    font-size: 60px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateY -500px;
    animation-name: entrada;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  header .contacto {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  header .contac {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: aliceblue; }
  header .texto {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue; }
  header .texto {
    padding: 10px; }
  header .formulario {
    padding: 10px; }
  header .formu {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: aliceblue; }
  header .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: aliceblue; }
    header .form .btn {
      margin: 10px;
      font-size: 25px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 200;
      color: aliceblue;
      transition-property: all;
      transition-duration: 1s; }
    header .form .btn:hover {
      transform: scale(1); }
  header .div {
    text-align: center; }
  header .titulo-hablamos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px; }
  header .hablamos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 60px;
    font-weight: 100; }

@keyframes entrada {
  0% {
    transform: translateY(-500px); }
  100% {
    transform: translateY(0px); } }

main {
  height: 100;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main ul li {
    line-height: 45px;
    list-style-type: none;
    display: inline;
    text-align: center; }
  main .redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: black; }
  main .red {
    padding: 3px;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 5px; }
  main .text {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center; }
  main .parr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    justify-content: center; }
  main .servicio {
    background-image: url(../img/c.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px; }
  main .servis {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 300;
    padding: 20px;
    color: white;
    transform: translateY -500px;
    animation-name: entrada;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  main .lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px; }
    main .lista p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: aliceblue;
      text-align: center;
      margin: 10px;
      font-size: 20px; }
    main .lista h3 {
      color: aliceblue;
      font-size: 30px; }
    main .lista .bi {
      color: aliceblue;
      height: 60px;
      width: 60px; }
  main .contacto {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  main .contac {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 200; }
  main .texto {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  main .texto {
    padding: 10px; }
  main .formulario {
    padding: 10px; }
  main .formu {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 200; }
  main .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200; }
    main .form .btn {
      margin: 10px;
      font-size: 25px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 200;
      transition-property: all;
      transition-duration: 1s; }
    main .form .btn:hover {
      transform: scale(1); }
  main .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    main .titulo h1 {
      padding: 20px;
      font-size: 30px;
      color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 200; }
    main .titulo h2 {
      padding: 20px;
      font-size: 20px;
      color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 100; }
    main .titulo h3 {
      padding: 20px;
      font-size: 20px;
      color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 100; }
  main .album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    main .album h2 {
      padding: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 100; }
  main .fotos {
    display: flex;
    flex-direction: column;
    padding: 30px; }
  main .rounded {
    padding: 10px;
    height: 250px;
    width: 300px; }
  main .lista-canc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px; }
  main .tit-lista {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: 100; }
  main .canciones {
    display: flex;
    flex-direction: column; }
  main .t {
    border: solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black; }
  main .escu {
    padding: 20px;
    font-size: 30px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200; }

@keyframes entrada {
  0% {
    transform: translateY(-500px); }
  100% {
    transform: translateY(0px); } }

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 20px; }
  footer .footer {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer p {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 12px; }

@media screen and (min-width: 600px) {
  body {
    width: 100;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh; }
  .navegador .container-fluid .navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 100; }
  .navegador .nav-link {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  header {
    box-sizing: border-box;
    justify-content: space-evenly; }
    header .titulo h1 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 100px;
      font-weight: 200;
      padding: 0%;
      margin: 0%; }
    header .lucas {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 100;
      font-size: 50px; }
    header .contacto {
      flex-direction: row;
      padding: 20px;
      margin: 100px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px 100px;
      grid-column-gap: 20px;
      grid-row-gap: 20px; }
    header .texto {
      padding: 10px;
      display: flex;
      text-align: center;
      justify-content: center;
      font-size: 30px;
      font-weight: 200;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: aliceblue; }
    header .formulario {
      display: block;
      flex-direction: column; }
    header .formu {
      display: flex;
      text-align: center;
      justify-content: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 50px;
      font-weight: 200;
      color: aliceblue; }
    header .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 300;
      color: aliceblue; }
    header .hablamos {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: aliceblue;
      font-size: 60px;
      font-weight: 100; }
  @keyframes entrada {
    0% {
      transform: translateY(-500px); }
    100% {
      transform: translateY(0px); } }
  main {
    height: 100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .red {
      padding: 20px; }
    main .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      margin: 60px; }
    main .parr {
      font-size: 30px;
      text-align: center;
      justify-content: center; }
    main .servicio {
      background-image: url(../img/c.jpg);
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 1000px;
      justify-content: space-between; }
      main .servicio p {
        color: white;
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 25px;
        font-weight: 100;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
      main .servicio h3 {
        color: white;
        font-size: 30px;
        font-weight: 100; }
      main .servicio .bi {
        color: white;
        height: 60px;
        width: 60px; }
    main .servis {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 70px;
      font-weight: 200; }
    main .lista {
      font-size: 30px;
      text-align: center;
      justify-content: end;
      margin: 80px;
      padding: 20px;
      display: grid;
      grid-template-areas: "post produ" "grabacion compo" "sesion sesion";
      grid-template-rows: 50px 50px;
      grid-column-gap: 40px;
      grid-row-gap: 200px;
      transition-property: all;
      transition-duration: 1s; }
    main .lista:hover {
      transform: scale(1.2); }
    main .post {
      grid-area: post;
      text-align: center; }
    main .produ {
      grid-area: produ;
      text-align: center; }
    main .grabacion {
      grid-area: grabacion;
      text-align: center; }
    main .compo {
      grid-area: compo;
      text-align: center; }
    main .sesion {
      grid-area: sesion;
      text-align: center; }
    main .contacto {
      flex-direction: row;
      padding: 20px;
      margin: 100px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px 100px;
      grid-column-gap: 20px;
      grid-row-gap: 20px; }
    main .texto {
      padding: 20px; }
    main .formulario {
      display: block;
      flex-direction: column; }
    main .formu {
      display: flex;
      text-align: center;
      justify-content: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 40px;
      font-weight: 200; }
    main .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 300; }
    main .album {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
    main .album h2 {
      padding: 40px;
      font-weight: 100; }
    main .fotos {
      display: flex;
      flex-direction: column;
      padding: 30px; }
    main .titulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      main .titulo h1 {
        padding: 20px;
        font-size: 30px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 200; }
      main .titulo h2 {
        padding: 20px;
        font-size: 20px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100; }
      main .titulo h3 {
        display: flex;
        text-align: center;
        padding: 20px;
        margin: 50px;
        font-size: 20px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100; }
    main .iframe {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 20px; }
    main .tapa {
      padding: 30px; }
    main .lista-canc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20p; }
    main .tit-lista {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 35px;
      font-weight: 100; }
    main .canciones {
      display: flex;
      flex-direction: column; }
    main .escu {
      padding: 20px;
      font-size: 30px;
      color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 200; }
  @keyframes entrada {
    0% {
      transform: translateY(-500px); }
    100% {
      transform: translateY(0px); } } }
