@charset "UTF-8";
body {
  font-family: sans-serif;
  width: 100;
  position: relative;
  min-height: 100vh; }

header {
  background-image: url(../img/Producción-Musical.jpeg);
  height: 500px;
  box-sizing: border-box; }
  header .navegador {
    display: flex; }
  header .container-fluid .navbar-brand {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px; }
  header .navbar-toggler-icon {
    background-color: aliceblue;
    border: solid 4px;
    font-size: 20px; }
  header .nav-link {
    color: aliceblue; }
  header .titulo {
    display: flex;
    flex-direction: column;
    text-align: center; }
    header .titulo h1 {
      color: aliceblue;
      padding: 50px;
      margin: 30px;
      font-size: 40px;
      font-weight: 300;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  header .icono {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }
  main ul li {
    line-height: 45px;
    list-style-type: none;
    display: inline;
    text-align: center; }
  main .red {
    padding: 4px;
    color: black;
    text-align: center;
    margin: 20px; }
  main .text {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center; }
  main p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 25px; }
  main .album {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center; }
  main h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 300;
    padding: 10px; }
  main .foto {
    width: 300px;
    height: 200px; }
