footer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }