footer{
    display: flex;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 20px;
    
    
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 12px;
        }
    }

 }