header{
    background-image: url(../img/img01.jpg);
    height: 100vh;
    box-sizing: border-box;
    
    

    .navegador{
    
    display: flex;
    
   }

    .container-fluid .navbar-brand{
        color: rgb(250, 250, 250);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 60px;
    }

    .navbar-toggler-icon{
        background-color: rgb(250, 250, 250);
        border: solid 4px;
        font-size: 20px;
    }
    .nav-link{
        color: rgb(255, 255, 255);
    }
   
    .titulo{
        flex-direction: column;
        text-align: center;
        
        h1{
            color: rgb(253, 253, 253);
            padding: 50px;
            margin: 30px;
            font-size: 50px;
            font-weight: 300;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    
    } 

    .icono{
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}