header{
    background-image: url(../img/img01.jpg);
    height: 100vh;
    width: auto;
    box-sizing: border-box;
    
   
    .titulo{
        flex-direction: column;
        text-align: center;
        
        h1{
            color: rgb(253, 253, 253);
            padding: 50px;
            margin: 30px;
            font-size: 50px;
            font-weight: 300;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    
    } 

    .icono{
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}