main{
   height: 100;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    ul li{
        line-height:45px;
        list-style-type: none;
        display: inline;
        text-align: center;
        
        
    }
    .redes{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      position:sticky; 
      bottom:0; 
      left:0;
      width:100%;
      height: 90px;
     background-color: rgb(0, 0, 0);

    }
    
    .red{
        padding: 3px;
        color:rgb(255, 255, 255);
        text-align: center;
        justify-content: center;
        margin: 5px;
     }
    

     .text{
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;

     }

     .parr{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 200;
        font-size: 25px;
        text-align: center;
        justify-content: center;
        
     }

     .servicio{
        background-image: url(../img/c.jpg);
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
     }

     .servis{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 60px;
        font-weight: 300;
        padding: 20px;
        color: rgb(255, 255, 255);

            
    transform: translateY (-500px);
    animation-name: entrada ;
    animation-duration:2s;
    animation-timing-function: ease-in-out;
     }

     .lista {
      display:flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 10px;

     
       p{
         display:flex;
         flex-direction: column;
         justify-content:center;
         color: aliceblue;
         text-align: center;
         margin:  10px;
         font-size: 20px;
         
       }

       h3{
         color:aliceblue;
         font-size: 30px;
       }

       .bi{
         color: aliceblue;
         height: 60px;
         width: 60px;
       }
     }

     .contacto{
      display: flex;
      flex-direction: column;
      padding: 20px;

     }
     
     .contac{
      display: flex;
      text-align: center;
      justify-content: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 40px;
      font-weight: 200;

     }
     .texto{
      padding: 10px;
      display: flex;
      text-align: center;
      justify-content: center;
      font-size: 25px;
      font-weight: 200;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }
      
     
     .texto{
      padding: 10px;
     }
      
     .formulario{
      padding: 10px;
     }

     .formu{
      display: flex;
      text-align: center;
      justify-content: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 40px;
      font-weight: 200;
      
     }
     .form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 200;

      .btn{
         margin: 10px;
         font-size: 25px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-weight: 200;
         

         transition-property: all;
         transition-duration: 1s;
      }
      .btn:hover{
          transform: scale(1);
      }
   }
  
      .titulo{
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         

         h1 {
            padding: 20px;
            font-size: 30px;
            color: rgb(0, 0, 0);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 200;

         }
         h2{
            padding: 20px;
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 100;

         }
         h3{
            padding: 20px;
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 100;

         
         }

      } 
     .album{
     
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
        h2{
         padding: 20px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-weight: 100;
        }
     }
     .fotos{
      display: flex;
      flex-direction: column;
      padding: 30px;
     }

     .rounded{

      padding: 10px;
      height: 250px;
      width: 300px;

     }

      .lista-canc{
        
         display:flex;
         flex-direction: column;
         justify-content: center;
         padding: 40px;
         
      }

      .tit-lista{
         display: flex;
         flex-direction: column;
         text-align: center;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-size: 35px;
         font-weight: 100;

      }

      .canciones{
         display: flex;
         flex-direction: column;
      }

      .t{
         border: solid;
         padding: 15px;
         display: flex;
         flex-direction: column;
         text-align: start;
         font-size: 30px;
         font-weight: 100;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         color: black;
         
      }
        
        .escu{
             padding: 20px;
             font-size: 30px;
             color: rgb(0, 0, 0);
             font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             font-weight: 200;
 
          }
    
   @keyframes entrada {
      0%{
          transform: translateY(-500px);
      }
  
      100%{
          transform: translateY(0px);
      }
  }
}

